#button-sidebar {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  padding: 9px 10px;
  background-color: #fff;
  background-image: none;
  margin-top: 5px;
  border: 1px solid #f0f0f0; }
  #button-sidebar span {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #ddd;
    margin: 3px 0;
    background: #f69678; }

.sidebar {
  width: 270px;
  background-color: #fcfcfc;
  box-shadow: 0 0 16px 0 rgba(70, 70, 70, 0.09);
  border: 1px solid #ebeae8;
  position: relative;
  padding: 35px; }
  .sidebar #remove-sidebar {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ddd; }
  .sidebar h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2.4px;
    color: #f69678;
    text-align: center;
    margin-bottom: 35px; }
  .sidebar .shadules {
    letter-spacing: 1.4px; }
    .sidebar .shadules .radio {
      position: relative;
      display: block;
      margin-bottom: 10px;
      font-size: 14px; }
      .sidebar .shadules .radio input {
        display: none;
        position: absolute;
        margin-left: -20px; }
      .sidebar .shadules .radio label {
        margin-bottom: 2px;
        text-decoration: none;
        color: #999999;
        white-space: nowrap;
        min-height: 21px;
        padding-left: 25px;
        margin-bottom: 0;
        font-weight: 300;
        cursor: pointer;
        color: #2e2e2e;
        max-width: 100%; }
        .sidebar .shadules .radio label span:before {
          content: '';
          position: absolute;
          right: 80%;
          margin-right: 7px;
          border: 1px solid #eae3d9;
          background: #fff;
          width: 18px;
          height: 18px;
          border-radius: 100%;
          margin-top: 1px; }
        .sidebar .shadules .radio label .active:after {
          content: '';
          background-color: #f69678;
          border-radius: 100%;
          width: 8px;
          height: 8px;
          margin: 6px 12px 0 0;
          position: absolute;
          right: 80%; }
  .sidebar .features label {
    display: inline-block;
    width: 31.9%;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold; }
    .sidebar .features label span {
      color: #74cbcc;
      margin: 5px 0;
      height: 24px; }
    .sidebar .features label input.active ~ span {
      color: #f69678; }
  .sidebar .features input {
    display: none; }
  .sidebar .features .feature-name {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 1.2px;
    text-align: center;
    color: #2e2e2e; }

.form-control-select-wrap-lite .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e7ded0;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
  margin: 0 0 5px;
  color: #606060; }
  .form-control-select-wrap-lite .form-control option {
    border: 1px solid #222;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px; }

@media only screen and (max-width: 992px) {
  #button-sidebar {
    display: block;
    z-index: 10; }
  .sidebar {
    z-index: 1031;
    position: fixed;
    left: 0px;
    top: 0px; }
    .sidebar #remove-sidebar {
      display: block; } }

