@model IEnumerable<Restro.Models.KitchenModel>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h2>Наявні кухні</h2>
        <p>
             @Html.ActionLink("Створити нову кухню", "Create", new { })
        </p>
        <table class="table">

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id}) |
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id})
                </td>
            </tr>
    }

        </table>
    </div>
</div>
  



